@media (max-width: 768px) and (min-width:480px)  {
 body {
   text-align: center;
   padding: 0;
 }

 .nav-links a {
   font-size: 12.5px;  
}

.banner-section{
   overflow-y: hidden;
}

.name {
   font-size: 50px;
} 

.check-availability {
   font-size: 10;
}

.fill-up label{
   font-size: 15px;
}

check-availability input {
    
   font-size: 25px;
   border: 1px solid black;
   border-radius: 10px;
   padding: 5px;
}

   

}