/* header {
    background-image: url(./assets/food-image.jpg);
} */

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    max-width: 100%;
    height: auto;
}

.nav-info ul {
    list-style: none;
    color: black;
    display: flex;
    
}

.nav-info li {
    margin-right: 10px;
    font-size: 20px;
}