* {
    color: white;
}

header {
    background-image: url(./assets/food-image.jpg);
    background-size: cover;
    background-position: center;
    opacity: 30%;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-info ul {
    list-style: none;
    color: white;
    display: flex;
    
}

.nav-info li {
    margin-right: 10px;
    font-size: 18px;
}

h1 {
    color: rgba(117, 115, 115, 0.988);
    font-size: 70px;
}

.icon .material-icons {
    text-decoration: none;
    
}