

.upper-section {
    background-image: url(./assets/food-image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-bottom: 8px solid black;
    position: relative;
    
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    top: 0;
    opacity: 30%;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-info ul {
    list-style: none;
    color: orange;
    display: flex;
    
    
}

.nav-info li {
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}

.name {
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 70px;
       
}

 {
    text-decoration: none;
    color: white;
    
}