
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%; /
}
.upper-section {
    background-image: url(./assets/food-image.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    transition: background-image 1s ease-in-out;
    position: relative;
    
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    top: 0;
    opacity: 30%;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-info ul {
    list-style: none;
    color: orange;
    display: flex;
    cursor: pointer; 
         
}

.nav-info li {
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: orange;
}

.nav-info li:hover {
    color: blueviolet;
    background-color: aqua;
}

.name {
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 70px;
    text-align: center;
    justify-content: center;
       
}

.icon {
    text-decoration:none;
    color: white;
    align-items: center;
    justify-content: center;
    
}

.check-availability {
    display: flex;
   background-color: orange; 
   padding: 20px;
   border: none;
   font-size: 25px;
   align-items: center;
   justify-content: space-around;
   
}

.check-availability input {
    
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.category {
    display: grid;
    margin: 20px;
}

#category-select {
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
}

.check-in {
    display: grid;
    margin: 20px;
    padding: 5px 20px;
}

.check-out {
    display: grid;
    margin: 20px;
    padding: 5px 20px;

}

button  {
    color: orange;
    background-color: black;
    border-radius: 10px;
    font-size: 30px;
    padding: 5px 20px;
    
}

.welcome {
    align-items: center;
    justify-content: center;
}

.welcome-info {
    color: orange;
}

.welcome-info-two {
    align-items: center;
    justify-content: center;
}


