header {
    background-image: url(./assets/food-image.jpg);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 5px;
    height: 5px;
}

.nav-info {
    text-decoration: none;
    color: white;
}